.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main, footer */
  grid-template-columns: 1fr;
}

.small-text {
  font-size: calc(10px + 1vmin);
}

.dropdown-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.flashcarddeck {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.flashcard {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  perspective: 1000px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  background: repeating-linear-gradient(
    to bottom,
    #fff 0px,
    #fff 12px,
    #0074d9 12px,
    #0074d9 13px
  );
  display: flex;
  flex-direction: column;
  height: 200px;
}
.flashcard-flip-button {
  background: transparent;
}
.flashcard div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

.flashcard button {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.flashcard-highlight {
  background-color: rgba(255, 255, 51, 1);
  padding: 0.1rem 0.5rem;
}
.dropdownmenu-options {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.dropdownmenu {
  width: 100%;
  max-width: 250px;
  color: #fff !important;
  background-color: transparent !important;
  border: none !important;
}
.dropdownmenu * {
  color: white !important;
  text-align: center !important;
}

.hanzi {
  font-size: calc(2rem + 2vw);
}

.app-name-header {
  margin-top: 0.5rem;
}
